.flex-container {
  display: flex; }

.flex-items-center {
  align-items: center; }

.flex-items-end {
  align-items: flex-end; }

.flex-jc-center {
  justify-content: center; }

.flex-jc-space-between {
  justify-content: space-between; }

.flex-jc-space-around {
  justify-content: space-around; }

.flex-direction-column {
  flex-direction: column; }
